@page
@model ClinicaLitleCats.App.Frontend.Pages.EditModel
@{
    int propietarioId=Model.Propietario.Id;
}


<h2>Edición de los datos del Propietario</h2>

<form method="post">
    <imput type ="hidden" asp-for="Propietario.Id"/>
    <div class ="form-group">
        <label asp-for="Propietario.DocumentoIdentidad"></label>
        <input asp-for="Propietario.DocumentoIdentidad" class="form-control">
        <span class="text-danger" asp-validation-for="Propietario.DocumentoIdentidad"></span>
    </div>

    <div class ="form-group">
        <label asp-for="Propietario.Nombre"></label>
        <input asp-for="Propietario.Nombre" class="form-control">
        <span class="text-danger" asp-validation-for="Propietario.Nombre"></span>
    </div>

    <div class ="form-group">
        <label asp-for="Propietario.Apellido"></label>
        <input asp-for="Propietario.Apellido" class="form-control">
        <span class="text-danger" asp-validation-for="Propietario.Apellido"></span>
    </div>

    <div class ="form-group">
        <label asp-for="Propietario.Celular"></label>
        <input asp-for="Propietario.Celular" class="form-control">
        <span class="text-danger" asp-validation-for="Propietario.Celular"></span>
    </div>

    <div class ="form-group">
        <label asp-for="Propietario.Email"></label>
        <input asp-for="Propietario.Email" class="form-control">
        <span class="text-danger" asp-validation-for="Propietario.Email"></span>
    </div>

    <div class ="form-group">
        <label asp-for="Propietario.Direccion"></label>
        <input asp-for="Propietario.Direccion" class="form-control">
        <span class="text-danger" asp-validation-for="Propietario.Direccion"></span>
    </div>

    <div class ="form-group">
        <label asp-for="Propietario.Ocupacion"></label>
        <input asp-for="Propietario.Ocupacion" class="form-control">
        <span class="text-danger" asp-validation-for="Propietario.Ocupacion"></span>
    </div>

    <div class ="form-group">
        <label asp-for="Propietario.Nexo"></label>
        <input asp-for="Propietario.Nexo" class="form-control">
        <span class="text-danger" asp-validation-for="Propietario.Nexo"></span>
    </div>

    <div class ="form-group">
        <label asp-for="Propietario.Ciudad"></label>
        <input asp-for="Propietario.Ciudad" class="form-control">
        <span class="text-danger" asp-validation-for="Propietario.Ciudad"></span>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>

</form>